<div class="not-found-page">
  <div class="not-found-page__content">
    <div class="not-found-page__title">
      <img class="not-found-page__title-img" src="" alt="logo">
      <h3 class="not-found-page__title-text">CNI</h3>
    </div>

    <mat-card class="not-found-page__card">
      <mat-card-content class="not-found-page__content">
        <h1 class="not-found-page__card-title">404</h1>

        <p class="not-found-page__card-sub-title">Page non trouvée</p>

        <button class="not-found-page__card-button" mat-raised-button color="primary" [routerLink]="routes.DASHBOARD">Actualiser</button>

      </mat-card-content>
    </mat-card>
  </div>
</div>
